<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllProducts</servlet-name>
        <servlet-class>ViewAllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryWiseServlet</servlet-name>
        <servlet-class>CategoryWiseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManager</servlet-name>
        <servlet-class>CartManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChanges</servlet-name>
        <servlet-class>SaveChanges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllProductsAdmin</servlet-name>
        <servlet-class>ViewAllProductsAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProducts</servlet-name>
        <servlet-class>UpdateProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LowToHigh</servlet-name>
        <servlet-class>LowToHigh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateBill</servlet-name>
        <servlet-class>GenerateBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllUser</servlet-name>
        <servlet-class>ViewAllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrders</servlet-name>
        <servlet-class>UserOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserOrder</servlet-name>
        <servlet-class>DeleteUserOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllProducts</servlet-name>
        <url-pattern>/ViewAllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryWiseServlet</servlet-name>
        <url-pattern>/CategoryWiseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManager</servlet-name>
        <url-pattern>/CartManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChanges</servlet-name>
        <url-pattern>/SaveChanges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllProductsAdmin</servlet-name>
        <url-pattern>/ViewAllProductsAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProducts</servlet-name>
        <url-pattern>/UpdateProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LowToHigh</servlet-name>
        <url-pattern>/LowToHigh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateBill</servlet-name>
        <url-pattern>/GenerateBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllUser</servlet-name>
        <url-pattern>/ViewAllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrders</servlet-name>
        <url-pattern>/UserOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserOrder</servlet-name>
        <url-pattern>/DeleteUserOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
